#header_body {
	height: 435px;
}

.sortcontent {
	margin-left: 210px;
}

.sortcontent h3 {
	padding: 15px;
}

.sortcontentul {
	border-top: solid 1px #eee;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
}

.sortli {
	float: left;
	border-left: solid 1px #eee;
	border-bottom: solid 1px #eee;
	position: relative;
	height: 180px;
	padding: 0 5px;
}

.sortli img {
	display: block;
	margin: 0 auto;
	height: 180px;
	width: 170px;
}

.tanbutton {
	position: absolute;
	width: 170px;
	height: 6px;
	bottom: 7px;
	left: 153px;
}

.tanbutton span {
	display: block;
	float: left;
	width: 40px;
	height: 6px;
	margin: 0 1px;
	background: #aaa;
	cursor: pointer;
}

span.spanselect {
	background: rgb(122, 189, 84);
}

.tabsorul {
	height: 180px;
	width: 444px;
	overflow: hidden;
}

.tabsortli {
	width: 2500px;
	height: 180px;
	position: relative;
}

.tabsortli li {
	float: left;
}

.tabsortli img {
	height: 180px;
	width: 444px;
}

.paihang {
	margin-left: 210px;
	padding: 15px;
	color: #e4393c;
}

.jsscroll {
	width: 998px;
	position: relative;
	border: solid 1px #eee;
	margin-left: 210px;
}

.jsscroll_control {
	position: absolute;
	height: 149px;
	width: 30px;
	cursor: pointer;
}

.jsscroll_control:hover {
	background: whiteSmoke;
}

.jsscrollL {
	left: 0;
}

.jsscrollR {
	right: 0;
}

.jsscroll_control i {
	height: 33px;
	width: 25px;
	position: absolute;
	margin: 60px 2px;
	background:
		url(http://misc.360buyimg.com/product/skin/2013/i/20130330B_1.png);
}

.jsscroll_control:hover i {
	background: url(http://misc.360buyimg.com/product/skin/2013/i/15.png);
}

.jsscrollL i {
	background-position: -85px -45px;
}

.jsscrollR i {
	background-position: -55px -45px;
}

.jsscrollR:hover i {
	background-position: 0 -37px;;
}

.jsscrollcontent {
	position: relative;
	margin: 0 31px;
	height: 149px;
	overflow: hidden;
	width: 937px;
}

.jsscrollwrap {
	position: absolute;
	width: 4000px;
}

.jsscrollwrap dd {
	float: left;
	height: 150px;
	border-left: solid 1px #eee;
}

.jsscrollwrap img {
	height: 150px;
	width: 186px;
}

#imgTablew {
	width: 1240px;
	margin: 0 auto;
}

.headshow {
	height: 45px;
	background: url(../images/headshow.png) no-repeat 15px center;
}

.imgtable {
	padding-left: 15px;
}

.tablelist {
	width: 295px;
	float: left;
	position: relative;
	margin: 0 10px 6px 0;
}

.tablelist img {
	position: relative;
	height: 190px;
}

.imgmove {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.baoguo {
	position: absolute;
	width: 100px;
	background: white;
	height: 165px;
	opacity: 0.8;
	padding: 25px 0px 0px 20px;
	z-index: 1;
}

.baoguo h3 {
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #333;
	padding-bottom: 8px;
}

.textmone span {
	color: #EA6365;
}

.barlist {
	margin-top: 20px;
	list-style-type:
}

.barlist li {
	position: relative;
	padding-left: 8px;
	color: #aaa;
}

.barlist i {
	position: absolute;
	left: 0;
	top: 8px;
	width: 3px;
	height: 3px;
	background: #aaa;
	border-radius: 2px;
}