.lock{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
}
.onelock{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
}

#sidepanal{
	position: absolute;
	top: 300px;
	left: 370px;
	width: 480px;
	border: solid 2px #7abd54;
	box-shadow: 0 0 3px #7abd54;
	padding: 20px;
	background: white;
	line-height: 30px;
	text-align: center;
	background: white;
	z-index: 3;
}

#sidepanal h3{
	font-size: 30px;
	line-height: 40px;
	font-family: -webkit-pictograph;
}

#sidepanal span{
	font-size: 38px;
	color: #e4393c;
}

#sidepanal b{
	position: absolute;
	height: 18px;
	width: 18px;
	background: white;
	top: -8px;
	right: -8px;
	border: solid 2px #7abd54;
	box-shadow: 0 0 3px #7abd54;
	border-radius: 10px;
	line-height: 15px;
	color: #e4393c;
	cursor: pointer;
}

.succsess{
	position: absolute;
	top: 300px;
	left: 370px;
	width: 480px;
	border: solid 2px #7abd54;
	box-shadow: 0 0 3px #7abd54;
	padding: 20px;
	background: white;
	line-height: 30px;
	text-align: center;
	background: white;
	z-index: 3;
}

.succsess a{
	color: #e4393c;
}

.h_body_navi{
	display: none;
}

#w-header{
	z-index: 1;
}

.w{
	width: 951px;
}

#search{
	width: 280px;
}

.shortcut_right{
	margin-right: 0px;
}

.search input{
	width: 80%;
}

#product{
	margin-top: 15px;
	overflow: hidden;
	zoom:1;
	position: relative;
}

.product_img{
	float: left;
	width:39%;
}

.product_bimg{
	height:350px;
}

.product_bimg img{
	height:350px;
	width:350px;
	cursor: move;
}

.product_mimg{
	margin-top:7px;
}

.product_imgul li{
	float: left;
	height: 55px;
	margin:0 3px;
	border:solid 1px white;
}

.product_imgul li:hover{
	border:solid 1px #e4393c;
}

.product_imgul img{
	height: 55px;
	width: 60px;
	cursor:pointer;
}

.product_infor{
	float: left;
	width:59%;
}

.style{
	border-bottom: dashed 1px #ccc;
	line-height: 20px;
	padding: 10px 0px;
}

.name h1{
	font-size: 19px;
}

.style_l{
	float: left;
	width:60px;
	text-align:left;
	line-height: 23px;
}

.style_r{
	color: #e4393c;
	font-weight: bolder;
}

.rnb{
	font-size: 16px;
}

.much{
	font-size: 20px;
}

.style_r font{
	display: block;
	height: 22px;
	position: relative;
}

.ima {
	top: 6px;
}

.style_r_ul{
	overflow:hidden;
	zoom: 1;
}

.style_r_ul li{
	float: left;
	margin: 5px;
	padding: 0 10px;
	border: solid 1px #e4393c;
	cursor: pointer;
	position: relative;
}

.style_r_ul span{
	color: #666;
}

.style_r_ul b{
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 12px;
	width: 12px;
	background: url(../images/i.png);
	background-position: -202px -224px;
	display: none;
}

.buy{
	font-size: 25px;
	font: 400 18px/38px "microsoft yahei";
	color: #e4393c;
	position: absolute;
	bottom: 20px;
	left: 445px;
	padding: 0 23px;
}

.buy b{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/p.png);
	top: 0;
	left: 0;
	background-position: 0 0;
	cursor: pointer;
}

#product_conment{
	margin-top: 20px;
}

#conment_top{
	height:35px;
	background: #eee;
	border: solid 1px #ccc;
	border-top: solid 2px #999;
}

.aa{
	float: left;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
	background: #eee;
	position: relative;
}

.aa span{
	display: block;
	padding: 0 40px;
	cursor: pointer;
	font-weight: bold;
}

.all span{
	color: #e4393c;
}

.aa b{
	position: absolute;
	width: 100%;
	height: 5px;
	top: 33px;
	left: 0;
	background: white;
	display: none;
}

.all{
	background: white;
}


.tableft{
	float: left;
	width: 120px;
	text-align: center;
}

.bound{
	height: 66px;
	width: 66px;
	margin: 25px 25px 0px;
	text-align: center;
	background: url(../images/avatar-bg.png);
}

.tableft img{
	height: 50px;
	width: 50px;
	margin: 8px;
}

.who a{
	color: #005AA0;
}

.who a:hover{
	text-decoration: underline;
}

.tabright{
	margin-left: 120px;
	position: relative;
	margin-top:15px;
	padding:10px 20px;
	border:solid 1px #D0E4C2;
}

.tabright b{
	position: absolute;
	top: 25px;
	left: -11px;
	border: solid 1px #D0E4C2;
	height: 15px;
	width: 15px;
	-webkit-transform: rotate(-45deg);
}

.tabright i{
	position: absolute;
	height: 19px;
	width: 16px;
	background: white;
	top: 24px;
	left: -3px;
}

.tbritop{
	padding-bottom: 10px;
	border-bottom: solid 1px #D0E4C2;
}

.star5{
	position: absolute;
	height: 15px;
	width: 75px;
	background: url(../images/i.png) no-repeat;
	background-position: -109px -239px;
}

.star4{
	position: absolute;
	height: 15px;
	width: 60px;
	background: url(../images/i.png) no-repeat;
	background-position: -109px -239px;
}

.star3{
	position: absolute;
	height: 15px;
	width: 45px;
	background: url(../images/i.png) no-repeat;
	background-position: -109px -239px;
}

.time{
	float: right;
}

.tabconment{
	padding-top: 10px;
	width: 788px;
	text-indent: 2em;
	line-height: 30px;
}

 .tab{
	height:790px;
	overflow: hidden;
} 

.b{
	position: absolute;
	
}

.haha{
	min-height:760px;
}

.select{
	line-height: 30px;
}

.selectul{

}

.selectul li{
	float: right;
	margin:10px 5px;
}

.selectul a{
	display: block;
	padding:0 10px;
	border:solid 1px #ccc;
	border-radius: 5px;
	color: #005AA0;
	font-size: 14px;
} 

.selectul a.selected{
	border:none;
	color: #e4393c;
	font-weight:bold;
}

.selectul a:hover{
	background: #005AA0;
	color: white;
}


/* .imgeOver{
	background: ()
} */