body{
	background: #f1f1f1;
}

.w{
	width:960px;
	margin: 0 auto;
}

.wrap{
	overflow: hidden;
	zoom:1;
}

#header{
	background: #f5f5f5;
	border:solid 1px #eee;
}

.homepage{
	text-align: right;
}

.homepage span{
	line-height: 30px;
}

.homepage a:hover{
	color: #e4393c;
	text-decoration: underline;
}

#mycontent{
	background: #f5f5f5;
	margin-top: 40px;
	border-bottom: solid 1px #aaa;
	border-top-left-radius: 5px;
	border: solid 1px #ccc;
	box-shadow: 0 0 3px #ccc; 
}

.myleftcontrol{
	float:left;
	width: 138px;
}

#buy{
}

#sell{
}

.mystyle{
	line-height: 25px;
	padding: 0 15px 15px;
	border-left:solid 1px #ccc;
}

.mystyle h3{
	font-size: 16px;
	color:#616161;
}

.mystyle div{
	text-indent: 1em;
	cursor: pointer;
}

.mystyle div:hover{
	background: #e1e1e1;
}

.myright{

	background: white;
	float: left;
	margin-left: 0;
	width: 816px;
	border-left: solid 1px #ccc;
	min-height: 500px;
}

#yimaide{
	display: none;
}


#gouwuche{/* 
	display:none; */
}

#yimaichu{
	display: none;
}

#fabu{
	display: none;
}

.own{
	padding: 15px;
}

.wp{
	height: 100px;
	background: white;
	padding: 5px;
	border:solid 1px #e1e1e1;
}

.wp img{
	height: 100px;
	width: 100px;
}

.mytop{

}

.mytopul{
	border-top:solid 1px #C4D5E0;
	border-bottom:solid 1px #C4D5E0;
	background: url(../images/410.png) repeat-x;
}

.mytopul li{
	float: left;
	line-height: 30px;
	color: #616161;
	text-align: center;
	color:#333;
}

.baobei{
	width: 236px;
}

.danjia{
	width: 100px;
}

.shifu{
	width: 90px;
}

.jiaoyi{
	width: 130px;
}

.caozuo{
	width: 130px;
}

.qita{
	width: 120px;
}

.bianma{
	background: #efefef;
	margin-top:7px;
	border: solid 1px #e1e1e1;
}

.bianma li{
	float: left;
	padding: 0 10px;
	line-height: 25px;
}

.productmessage{
	margin-top: 7px;
	border: solid 1px #e1e1e1;
	padding: 5px 0px;
}

.product{

}

.li{
	float: left;
	text-align: center;
}

.li img{
	float: left;
	height: 50px;
	width: 50px;
	margin: 10px;
}

.baobei a{
	color: #005AA0;
}

.baobei a:hover{
	color: #e4393c;
	text-decoration: underline;
}

.pinlun a{
	color: #005AA0;
}

.pinlun a:hover{
	color: #e4393c;
	text-decoration: underline;
}

.delete{
	cursor:pointer; 
	color: #005AA0;
}

.delete:hover{
	color: #e4393c;
}

.rank{
	border-collapse: collapse;
	width: 818px;
}

.rank th{
	position: relative;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

.c{
	text-align:center;
}

.rank td{
	position: relative;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
 .rank th input{
	position: absolute;
	top: 5%;
	left: 5px;
 }

.rank td input{
	position: absolute;
	top: 45%;
}

.okar{
	width: 120px;
}

.okar img{
	height: 80px;
	width: 80px;
	margin: 10px 0 10px 25px;
}

.tkar{
	width: 170px;
}

.thkar{
	width: 175px;
}

.yuan{
	color: #333;
	font-weight: bold;
	font-size: 14px;
}

.xian{
	color: #e4393c;
	font-weight: bold;
	font-size: 14px;
}

a.message{
	color: #0055aa;
}

a.message:hover{
	color: #e4393c;
	text-decoration: underline;
}

.karselect{
	cursor: pointer;
	color: #005AA0;
}

.karselect:hover{
	color: #e4393c;
}

#button{
	text-align: right;
	position: relative;
	overflow: hidden;
}

.text{
	float: right;
	margin: 10px;
	background: #e4393c;
	color: white; 
	line-height: 30px;
}

.b{
	cursor: pointer;
}

.t{
	background: white;
	color: #666;
}

.hemoney{
	font-size: 18px;
	font-weight: bolder;
	color: #e4393c;
}

.textselcte{
}

.text h1{
	line-height: 30px;
	padding: 0 40px;
}

.topul{
	line-height: 30px;
	margin: 0 10px;
	padding:0 10px;
}

.topul li{
	float: left;
	margin: 0 10px;
	padding:0 10px;
}

.topul b{
	padding: 2px 5px;
	background: #e4393c;
	border-radius: 15px;
	color: white;
}

.topul span{
	padding: 5px 10px;
	font-weight: bold;
	color: #e4393c;
}

.fabuotable{
	border-collapse: collapse;
	width: 100%;
	line-height: 40px;
}

.fabuotable input, .fabuotable select{
	height: 25px;
	line-height: 25px;
}

.fabuotable th{
	width: 150px;
	border:solid 1px #ccc;
}

.fabuotable td{
	border: solid 1px #ccc;
}

 .selectstyle{
 	width: 150px;
 }

.sampel{
	border: solid 1px #aaa;
	border-radius: 5px;
	margin: 5px;
	padding: 0 5px;
	background: #e8ddcb;
	line-height: 20px;
}

.ulimg li{
	float: left;
	padding: 0 0 10px 0;
	margin: 0 0 5px 0;
	position: relative;
}

.uliamstyle{
	height: 140px;
	width: 140px;
	margin: 5px;
}

.ulimg input{
	position: absolute;
	bottom: 0px;
	left: 5px;
}

.fabufour{
	text-align: center;
	margin: 10px 0;
}

.fabufour span{
	line-height: 25px;
	padding: 6px 15px;
	border: solid 1px #ccc;
	cursor: pointer;
}

.fabufour span:hover{
	background: #e4393c;
	color: white;
}

.ownname{	
	text-align: center;
	margin-top: 10px;
	color: #e4393c;
	font-weight: bold;
}







#foot{
	margin-top: 30px;
	height: 50px;
	background: #f5f5f5;
	border-top: solid 1px #eee;
}

#foot div{
	text-align: right;
	line-height: 50px;
	color: #aaa;
} 

.tabselect{
	background: #e1e1e1;
}


.fkar input[type='text']{
	width: 30px;
	height: 15px;
	position: absolute; 
	top: 52px; 
}






































